body {
    font-family: verdana, geneva, sans-serif;
    font-size: 16px;
    padding: 0px;
    background-color: #B0DEFF;
}
h1 {
    height: auto;
    color: #0E0296;
    padding: 8px;
    margin: 0px;
}
h2 {
    text-align: left;
    margin: 10px 0px 10px 0px;
}

#main {
    margin-left: 230px; /* leftbar floats in this margin */
}

#leftbar,#logo,#countrymap,#province_data {
    background-color: #AED2FD;
    float: left;
    width: 230px;
}

#logo,#titlebar {
    position: relative;
    height: 75px;
    border: 2px solid #000;
}
#logo {
    padding-left: 60px;
}
#titlebar { 
    background-color: #5FD2B5; 
}

#countrymap, #detailmap {
    height: 400px;
    border: 2px solid #000;
}
#detailmap {
    border: 3px solid #FF0000;
}

#map_controls {
    position: absolute;
    right: 0;
    bottom: 20;
}
.ol-map {
    height: 400px;
}
.ol-control {
    position: absolute;
    background-color: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 2px;
}
.ol-full-screen {
    top: .5em;
    right: .5em;
}
#province_data,#crash_data {
    background-color: 0x111;
    height: 180px;
}

#province_data {
    padding-left: 15px;
    border: 2px solid #000000;
}

#crash_data {
    position: relative;
    background-color: #5FD2B5;
    border: 2px solid #000000;
}
#crash_text {
    float: left;
    padding-left: 15px;
}
#crash_picture {
    position: absolute;
    top: 0px;
    right: 220px;
}

.map-section {
    display: flex;
    flex-direction: row;
    background-color: darkgreen;
    flex-grow: 1;
}
.simplemap {
    padding: 2px;
    flex-grow: 1;
    align-items: stretch;
}
.overview {
    width: 195px;
    height: 155px;
    color: lightgreen;
    background-size: cover;
}

.table-section {
    display: flex;
    flex-direction: row;
}
.flx {
    border: 2px solid green;
    background-color: white;
    flex-grow: 1;
}

.print-modal {
    display: flex;
    flex-direction: row;
    margin: 8px;
}
.print-title {
    flex-grow: 1;
}
.print-preview {
    flex-grow: 1;
}

#home {
    font-family: arial;
    color: rgb(71, 111, 8);
}

#about {
    font-family: arial;
    color: rgb(171, 11, 8);
}

